.historia{
    text-align: center;
    font-size: 30px;
    color: white;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 450px;
    text-align: center;
}