

header{
    .navbar{
        background-color: $oscuro;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: visible;
    }
    .navbar-toggler{
        background-color: $oscuro;
        border: solid $claro;
        position: fixed;
        top: 0;
        right: 0;
        overflow: visible;
        margin: 40px;
        color: transparent;
        z-index: 1;
        
    }
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(161, 61, 123, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .offcanvas{
        background-color: $claromenu;
    }
    .dropdown-menu{
        background-color: violet;
        .dropdown-item{
            &:hover{
                background-color: transparent;
                color: white;
            }
        }
    }
}