.contenedorMult{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.imagentocando{
    width: 400px;
}
.video30{
    width: 600px;
}
.iframe{
    text-align: center;
}
h2{
    font-size: 30px;
}