.medioSets{
    text-align: center;
    font-size: 30px;
}
.top-musica{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
h2{
    font-size: 20px;
    padding: 10px;
    font-family: "Playfair Display", serif;
}